		body {
			color: white;
			background-attachment: fixed;
			margin: 0px;
			}
		a {
			color: rgb(170, 190, 65);
			}
		
		h1 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 24px;
			color: rgb(170, 190, 65);
			}
		h2 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 17px;
                        color: rgb(170, 190, 65);
			}
		h3 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 14px;
            color: rgb(0, 0, 244);
            text-align:left;
			}
			
			
		p {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 14px;
            color: rgb(0, 0, 244);
            text-align:left;
			}
			
			
		#tete, #tete td {
			width : 100%;
			height: 114px;
			margin: 0px;
			}
		
		#pied, #pied td {
 			position:fixed;
   			bottom:0;
   			margin: 0px;
   			width: 100%;
			}           
        #poneyRaces {
			width : 400px;
			margin: 0px;
			padding-top:100px;
			float:left;
			height:220px;
			text-align:center;
			}
		#poneyRaces p {
			font-family: "Times New Roman", Times;
			font-size: 13px;
			}
		#poneyIndividus {
			width : 400px;
			margin: 0px;
			padding-top:100px;
			float:left;
			height:220px;
			text-align:center;
			}
		#poneyIndividus p {
			font-family: "Times New Roman", Times;
			font-size: 13px;
			}
                
        #poneyliste {
        height:220px;
        padding-top:120px;
			font-family: "Times New Roman", Times;
			font-size: 16px;
			color: rgb(0, 0, 244);
			} 
		